.clip_path {
    clip-path: url(#clip-path);
    width: 100%;
}


@media screen and (min-width: 300px) {
    .path {
        transform:scale(0.1, 0.00333);
    }
}


@media screen and (min-width: 500px) {
    .path {
        transform:scale(0.001, 0.003);
    }
}

